
  <form [formGroup]="registerForm" (ngSubmit)='onRegsit()' >
    <div class="input-group mb-3">
      <input
        formControlName="name"
        class="form-control"
        type="text"
        disabled
        hidden
      >
    </div>

    <label>Subject</label>
    <div class="input-group mb-3">
      <input
        formControlName="name"
        class="form-control"
        type="text"
        required
      >
    </div>
    <fieldset class="form-group">
      <label class="col-form-label required" for="icon">Category</label>
      <ng-select
        [items]="categories"
        [virtualScroll]="true"
        bindLabel="name"
        bindValue="value"
        formControlName="category"
        groupBy="groupName"
        id="category"
        labelForId="category"
        placeholder="Select category"
      >
        <ng-template
          let-name="item.name"
          let-value="item.value"
          ng-label-tmp
        >
          {{ name }}
        </ng-template>
        <ng-template
          let-groupName="item.groupName"
          let-index="index"
          ng-optgroup-tmp
        >
          Select <b>"{{ groupName }}"</b>
        </ng-template>
        <ng-template
          let-name="item.name"
          let-value="item.value"
          ng-option-tmp
        >
          <i [class]="'icons ' + value"></i>
          {{ name }}
        </ng-template>
      </ng-select>
    </fieldset>
    <label>Name</label>
    <div class="input-group mb-3">
      <input
        formControlName="name"
        class="form-control"
        type="text"
        disabled
      >
    </div>
    <label>Complain Detail</label>
    <div class="input-group mb-3">
      <textarea
        formControlName="name"
        class="form-control"
        type="text"
        disabled
      ></textarea>
    </div>
  </form>
