/* .col-md-3 {
  width: 25%;
} */

.helper {
  display: inline-block;
  vertical-align: middle;
}

img {
  vertical-align: middle;
  margin-left: 12px;
  width: 100px;
  height: auto;
  vertical-align: middle;
}

hr {
  margin-bottom: 5px;
}

.footercard {
  height: 35px;
}
