<!-- <div class="app flex-row align-items-center" > -->
  <div class="container" *ngIf="!data">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card p-4">
          <div class="card-body">
            <div class="clearfix">
              <p class="text-muted">
                <h3 class="pt-3">Oops!</h3>
                <h4 class="pt-3">The data you are looking for was not found.</h4>
                <!-- <h1 class="float-left display-1 mr-4">404</h1> -->
                <!-- <h4 class="pt-3">Oops! You're lost.</h4> -->
              <!-- <p class="text-muted">The page you are looking for was not found.</p> -->
              <!-- <button (click)="onGoBack()" class="btn btn-link p-0" type="button"><i class="fa fa-chevron-left"></i>&nbsp;Go
                Back
              </button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->

<div class="animated fadeIn" *ngIf="data">
  <div class="row card-group">
    <div class="col-xl-6" *ngFor="let twit of data">
      <div class="card">
        <div class="row">
          <div class="col-2">
            <span class="helper"></span>
            <img src={{twit.image}} class="card-img-top rounded-circle center" alt={{twit.user}}>
          </div>
          <div class="col-10">
            <div class="col-10" style="height: 160px;">
            <div class="card-body">

              <div class="row">
                <h5 class="card-title">{{twit.user}}</h5>
                <p style="font-size: 14px; font-style: normal;" class="col-auto ml-auto badge badge-success" *ngIf="twit.noComplain">{{twit.noComplain}}</p>
              </div>
              <p style="-webkit-line-clamp: 2;" class="">{{twit.text}}</p>
              <p class="pull-left">{{twit.createdAt | date:'medium'}}</p>
            </div>
          </div>
        </div>
        <hr>
        <div *ngIf="!twit.isProcessed" class="col-auto ml-auto mb-1 footercard" >
          <button
          class="btn btn-sm btn-danger"
          (click)="dropTwt(twit.id)"
          >
            <i class="fa fa-trash fa-2x"></i>
          </button>&nbsp;
          <button
          class="btn btn-sm btn-primary"
          type="submit"
          (click)="modalSubmit(twit, responseTwitter)"
          >
            <i class="fa fa-send fa-2x"></i>
          </button>&nbsp;
        </div>

        <div *ngIf="twit.isProcessed && twit.noComplain" class="col-auto ml-auto mb-1 footercard" >
          <span class="badge badge-success" style="font-size: 12px;">Processed</span>
          &nbsp;
        </div>

        <div *ngIf="twit.isProcessed && !twit.noComplain" class="col-auto ml-auto mb-1 footercard" >
          <span class="badge badge-danger" style="font-size: 12px;">Drop</span>
          &nbsp;
        </div>

      </div>
    </div>
  </div>

  <button
  type="button"
  class="block"
  (click)="loadMore()"
  >
    Load More
  </button>
  <ng-template #responseTwitter>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Categorize Tweet</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <twitter-detail [dataDetail]="dataDetail"></twitter-detail>
  </div>
</ng-template>

